<!doctype html>
<html class="no-js" lang="{{ page.lang }}">
  <head>
    <script type="text/javascript">
    var gaProperty = 'UA-73722280-1';
    var disableStr = 'ga-disable-' + gaProperty;
    if (document.cookie.indexOf(disableStr + '=true') > -1) {
    window[disableStr] = true;
    }
    function gaOptout() {
    document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
    window[disableStr] = true;
    alert('Das Tracking durch Google Analytics wurde in Ihrem Browser für diese Website deaktiviert.');
    }
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W769BC4');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.seo_title }}</title>
    <meta name="description" content="{{ page.seo_description }}">
    <meta name="author" content="Marvin Bernd Web Designer & Developer">
	  <meta name="copyright" content="(c) 2018 Marvin Bernd Web Designer & Developer">
    {% if page.meta_robots %}
    <meta name="robots" content="{{ page.meta_robots }}" />
    {% endif %}
    {% if page.alternate_de %}
    <link rel="alternate" hreflang="de" href="{{ page.alternate_de }}" />
    {% endif %}
    {% if page.alternate_en %}
    <link rel="alternate" hreflang="en" href="{{ page.alternate_en }}" />
    {% endif %}
    {% if page.alternate_default %}
    <link rel="alternate" hreflang="x-default" href="{{ page.alternate_default }}" />
    {% endif %}
    <!-- favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ site.baseurl }}/_assets/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/_assets/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/_assets/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/_assets/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ site.baseurl }}/_assets/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.baseurl }}/_assets/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.baseurl }}/_assets/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/_assets/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/_assets/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/_assets/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/_assets/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/_assets/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/_assets/favicons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/_assets/favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="{{ site.baseurl }}/_assets/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/_assets/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="{{ site.baseurl }}/_assets/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="{{ site.baseurl }}/_assets/favicons/mstile-310x310.png" />
    <!-- /favicons -->
    <link rel="stylesheet" href="{{ site.baseurl }}/_assets/css/app.min.css">
  </head>
  <body class="{{ page.class }} layout-{{ page.layout }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W769BC4"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="off-canvas-wrapper">
      <div class="off-canvas position-right" id="offCanvas" data-off-canvas>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
        <ul class="vertical menu">
          {% if page.lang == 'de' %}
          <li><a href="{{ site.baseurl }}/">Start</a></li>
          <li><a href="{{ site.baseurl }}/projekte/">Projekte</a></li>
          <li><a href="{{ site.baseurl }}/ueber-mich/">Über mich</a></li>
          <li><a href="mailto:hello@marvinbernd.de">Kontakt</a></li>
          {% else %}
          <li><a href="{{ site.baseurl }}/en/">Start</a></li>
          <li><a href="{{ site.baseurl }}/en/projects/">Projects</a></li>
          <li><a href="{{ site.baseurl }}/en/about/">About</a></li>
          <li><a href="mailto:hello@marvinbernd.de">Contact</a></li>
          {% endif %}
        </ul>
        <ul class="vertical menu sub-menu" id="imprint-menu">
          {% if page.lang == 'de' %}
          <li><a href="{{ site.baseurl }}/impressum/">Impressum / Datenschutz</a></li>
          {% else %}
          <li><a href="{{ site.baseurl }}/en/imprint/">Imprint / Privacy Policy</a></li>
          {% endif %}
        </ul>
        <ul class="vertical menu sub-menu" id="contact-menu">
          <li><a href="mailto:hello@marvinbernd.de">hello@marvinbernd.de</a></li>
          <li><a href="tel:+4915206049110">+49 1520 6049110</a></li>
        </ul>
        <ul class="vertical menu sub-menu" id="lang-menu">
          {% if page.lang == 'de' %}
          <li><a href="{{ site.baseurl }}/en/">English</a></li>
          {% else %}
          <li><a href="{{ site.baseurl }}/">Deutsch</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <div id="wrapper">
