#main {
  position: relative;
  body.layout-default & {
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
  body.start & {
    padding: 2rem 0;
    @media screen and (min-width: 64em) {
      height: 100%;
    }
    .main-content {
      @media screen and (min-width: 64em) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      h1 {
        @media screen and (min-width: 100em) {
          font-size: 3rem;
        }
        @media screen and (min-width: 120em) {
          font-size: 4rem;
        }
        .highlight {
          &::before {
            display: none;
            @media screen and (min-width: 40em) {
              display: inline-block;
            }
          }
        }
      }
      .button-primary {
        @media screen and (min-width: 100em) {
          font-size: 1.1rem !important;
        }
        @media screen and (min-width: 120em) {
          font-size: 1.2rem !important;
        }
      }
    }
  }
  body.projects & {
    a {
      color: #000;
      text-decoration: none;
    }
    .project-item {
      margin-bottom: 2rem;
    }
  }
  body.about & {
    #about-image {
      width: 80%;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 8px solid #EBF8FF;
        top: 40px;
        left: 40px;
      }
    }
    .menu {
      margin: 4rem 0 2rem;
      li {
        margin: 0.2rem 0;
        a {
          text-decoration: none !important;
        }
      }
    }
    #about-content {
      max-width: 800px;
      h1 {
        font-size: 2rem;
      }
      h2 {
        margin-top: 3rem;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 2rem;
      }
    }
  }
  body.project & {
    .grid-y {
      @media screen and (min-width: 64em) {
        height: 80vh;
      }
    }
    #project-intro {
      h3 {
        margin-bottom: 1.5rem;
      }
      p {
        margin-bottom: 2rem;
      }
      @media screen and (min-width: 64em) {
        padding-right: 2rem;
      }
    }
    .footer {
      padding-bottom: 2rem;
      @media screen and (min-width: 64em) {
        padding-bottom: 0;
      }
      .fa {
        font-size: 2rem;
        margin-right: 1rem;
        color: #000;
      }
    }
  }
}
